{% extends 'newsapp/layout.html'%}
{% load static %}
{% block page_title %} Arhive Page {%endblock%}

{%block top_news%}
<div class="top-news">
    <div class="container">
    {% if archive_articles %}
    {% for art in archive_articles %}
    <div class="row">
    <ol start="{{forloop.counter}}">
        <li><a href="{% url 'newsapp:get_article_by_id' art.id %}"> {{art.article_name}}</a></li>
    </ol>
    </div>
    {%endfor%}
    {% else %}
    <h2> NO ARCHIVE ARTICLES </h2>
    {%endif%}
</div>
</div>
{% endblock %}