{% extends "newsapp/layout.html" %}
{% block page_title %}
  {{ article.article_name }}
{% endblock %}
{%load static%}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% block main_content %}
<!-- Breadcrumb Start -->
<div class="breadcrumb-wrap">
  <div class="container">
      <ul class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item"><a href="#">News</a></li>
          <li class="breadcrumb-item active">News details</li>
      </ul>
  </div>
</div>
<!-- Breadcrumb End -->

<!-- Single News Start-->
<div class="single-news">
  <div class="container">
      <div class="row">
          <div class="col-lg-8">
            {% if article %}
              <div class="sn-container">
                  <div class="sn-img">
                      <img src="{% static 'newsapp/img/news-825x525.jpg' %}" />
                  </div>
                  <div class="sn-content">
                      <h1 class="sn-title"> {{article.article_name}} </h1>
                      <p> <b>Date: </b>{{article.article_date}}</p>
                      <p> <b>Rating:</b>  {{article.article_rating}}</p>
                      <p> <b>Views:</b>  {{article.article_num_of_views}} times</p>
                      <p><b>Likes:</b> {{article.article_rating}} </p>
                      <p><b>Written by:</b> {{article.article_editor.editor_name}} {{article.article_editor.editor_surname}}</p>
                      <p>{{article.article_text}}</p>
                      {% if user.is_authenticated %}
                            <form action="{% url 'newsapp:like_article' %}" method="post">
                                {% csrf_token %}
                                Do you like this article?: 
                                <input type="radio" name="article_rate" value="1" onclick="this.form.submit()" class="fa fa-heart">
                                <input type="hidden" name="article_id" value="{{article.id}}">
                            </form>
                            {%endif%}
                      
                      
                  </div>
              </div>
              <div class="sn-related">
                  <h2>Commentaries Section:</h2>
                  
                  <h3>Previous comments:</h3>
                    {% if comments_on_article %}
                        {% for comment in comments_on_article %}
                        <ul>
                            <li><b>*{{comment.comment_owner}} left this on {{comment.comment_date}}: *</b></li>
                            <p>{{comment.comment_text}} ({{comment.comment_rating}} people liked this comment)</p>
                            {% if user.is_authenticated %}
                            <form action="{% url 'newsapp:like_comment' %}" method="post" id="rateForm">
                                {% csrf_token %}
                                Like this comment: 
                                <input type="radio" name="comment_rate" value="1" onclick="this.form.submit()" class="fa fa-heart">
                                <input type="hidden" name="comment_id" value="{{comment.id}}">
                                <input type="hidden" name="article_id" value="{{article.id}}">
                            </form>
                            {%endif%}

                        </ul> 
                        {%endfor%}
                    {%endif%}
                    {% if user.is_authenticated %}
                  <form action="{% url 'newsapp:leave_comment' %}" method="post">
                      {% csrf_token %}
                      <h3>Share your thougths:</h3> 
                        <input type="hidden" value="{{article.id}}" name="{{form.comment_on_article.name}}">
                      <textarea name="{{form.comment_text.name}}" cols="80%" rows="5%" required></textarea>
                    <input type="submit" value="Send">
                </form>
                    {%endif%}
              </div>
              {% else %}
              <p>No such article with id </p>
              {%endif%}
          </div>

          <div class="col-lg-4">
              <div class="sidebar">
                  <div class="sidebar-widget">
                    {%if related_articles%}
                      <h2 class="sw-title">In This Category "{{object.article_category|title}}"</h2>
                      <div class="news-list">
                        
                        {%for article in related_articles%}
                        {% if forloop.counter < 5 %}
                          <div class="nl-item">
                              <div class="nl-img">
                                  <img src="{% static 'newsapp/img/news-main-page.jpg' %}" />
                              </div>
                              <div class="nl-title">
                                  <a href="{%url 'newsapp:get_article_by_id' article.id %}">{{article.article_name|truncatewords:3}}</a>
                              </div>
                          </div>
                          {%endif%}
                          {%endfor%}
                          {%endif%}
                      </div>
                  </div>                  
                  <div class="sidebar-widget">
                      <div class="tab-news">
                          <ul class="nav nav-pills nav-justified">
                              <li class="nav-item">
                                  <a class="nav-link active" data-toggle="pill" href="#popular">Popular</a>
                              </li>
                              <li class="nav-item">
                                  <a class="nav-link" data-toggle="pill" href="#latest">Latest</a>
                              </li>
                          </ul>

                          <div class="tab-content">
                            <div id="popular" class="container tab-pane active">
                                {%if popular_articles%}
                                {%for article in popular_articles%}
                                {% if forloop.counter < 4 %}
                                <div class="tn-news">
                                    <div class="tn-img">
                                        <img src="{% static 'newsapp/img/popular_news.png' %}" />
                                    </div>
                                    <div class="tn-title">
                                        <a href="{%url 'newsapp:get_article_by_id' article.id%}">{{article.article_name|truncatewords:3}}</a>
                                    </div>
                                </div>
                                {%endif%}
                                {%endfor%}
                                {%endif%}
                                
                            </div>
                            <div id="latest" class="container tab-pane fade">
                                {%if latest_articles%}
                                {%for article in latest_articles%}
                                {% if forloop.counter < 4 %}
                                <div class="tn-news">
                                    <div class="tn-img">
                                        <img src="{% static 'newsapp/img/latest_news.jpg' %}" />
                                    </div>
                                    <div class="tn-title">
                                        <a href="{%url 'newsapp:get_article_by_id' article.id%}">{{article.article_name|truncatewords:3}}</a>
                                    </div>
                                </div>
                                {%endif%}
                                {%endfor%}
                                {%endif%}
                            </div>
                        </div>
                      </div>
                  </div>

                  <div class="sidebar-widget">
                      <h2 class="sw-title">News Categories</h2>
                      {% if categories %}
                      <div class="category">
                          {% for cat in categories%}
                          <ul>
                              <li><a href="">{{cat.article_category|title}}</a><span></span></li>
                          </ul>
                          {%endfor%}
                      </div>
                      {%endif%}
                  </div>

                <div class="sidebar-widget">
                    <div class="image">
                        <a href="https://github.com/shynggys9219/AP2_Django_News_Project"><img src="{% static 'newsapp/img/ad.gif' %}" alt="Image"></a>
                    </div>
                </div>
                  
                  <div class="sidebar-widget">
                      <h2 class="sw-title">Tags Cloud</h2>
                      {% if categories %}
                      <div class="tags">
                        {% for cat in categories%}
                          <a href="">{{cat.article_category|title}}</a>
                        {%endfor%}
                      </div>
                      {% endif %}
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- Single News End-->
{% endblock %}

