{% extends "newsapp/layout.html" %}
{% load static %}
{% block page_title%} AITU News {%endblock%}
{% block main_content%}
<!-- Top News Start-->
{% block top_news %}
<div class="top-news">
    <div class="container">
        
        <div class="row">
          {% block top_with_container %}

          <div class="col-md-6 tn-left">
            <h2>Latest Articles</h2>
            <div class="row tn-slider">
              
              {% if latest_articles %}
                {% for article in latest_articles %}
                  {% if forloop.counter < 11%}
                <div class="col-md-6">
                    <div class="tn-img">
                        <img src="{% static 'newsapp/img/latest_news.jpg' %}" height="344"/>
                        <div class="tn-title">
                            <a href="{% url 'newsapp:get_article_by_id' article.id %}">{{article.article_name|truncatewords:4}}</a>
                        </div>                     
                    </div>
                    
                </div>
                {%endif%}
                {% endfor %}
                {%else%}
                      <img src="{% static 'newsapp/img/news-450x350-1.jpg' %}" />
                        <div class="tn-title">
                            <a href="">No Context Here</a>
                        </div>
                      {%endif%}
            </div>
          </div>
          
          {% endblock %}
            <div class="col-md-6 tn-right">
                <h2>Popular Articles</h2>
                <div class="row">
                    {% if popular_articles %}
                {% for article in popular_articles %}
                  {% if forloop.counter < 5%}
                    <div class="col-md-6">
                        <div class="tn-img">
                            <img src="{% static 'newsapp/img/popular_news.png' %}"  height="172"/>
                            <div class="tn-title">
                                <a href="{%url 'newsapp:get_article_by_id' article.id %}">{{article.article_name}}</a>
                            </div>
                        </div>
                    </div>
                    {%endif%}
                {% endfor %}
                {%else%}
                      <img src="{% static 'newsapp/img/news-450x350-1.jpg' %}" />
                        <div class="tn-title">
                            <a href="">No Context Here</a>
                        </div>
                      {%endif%}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
<!-- Top News End-->


<!-- Category News Start-->
<div class="cat-news">
  {% block news_by_categories %}
    <div class="container">
        <h2>News by Categories</h2>

        <div class="row">
          
            {% if categories %}
            {%for cat in categories%}
            
            <div class="col-md-6">
                <h2>{{cat.article_category|title}}</h2>
                <div class="row cn-slider">
                    {% for article in latest_articles%}
                    {% if forloop.counter < 4 %}
                    <div class="col-md-6">
                        <div class="cn-img">
                            <img src="{% static 'newsapp/img/news-main-page.jpg' %}" />
                            <div class="cn-title">
                                <a href="{% url 'newsapp:get_article_by_id' article.id%}">{{article.article_name}}</a>
                            </div>
                        </div>
                    </div>
                    {%endif%}
            {%endfor%}
                </div>
                
            </div>
            
            {%endfor%}
            {%endif%}            
        </div>
    </div>
    {% endblock %}
</div>
<!-- Category News End-->


<!-- Tab News Start-->
<div class="tab-news">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <ul class="nav nav-pills nav-justified">
                    
                    <li class="nav-item">
                        <a class="nav-link " data-toggle="pill" href="#popular">Popular News</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="pill" href="#latest">Latest News</a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div id="popular" class="container tab-pane fade">
                        {%if popular_articles%}
                        {%for article in popular_articles%}
                        {% if forloop.counter < 4 %}
                        <div class="tn-news">
                            <div class="tn-img">
                                <img src="{% static 'newsapp/img/popular_news.png' %}" />
                            </div>
                            <div class="tn-title">
                                <a href="{%url 'newsapp:get_article_by_id' article.id%}">{{article.article_name|truncatewords:3}}</a>
                            </div>
                        </div>
                        {%endif%}
                        {%endfor%}
                        {%endif%}
                        
                    </div>
                    <div id="latest" class="container tab-pane active">
                        {%if latest_articles%}
                        {%for article in latest_articles%}
                        {% if forloop.counter < 4 %}
                        <div class="tn-news">
                            <div class="tn-img">
                                <img src="{% static 'newsapp/img/latest_news.jpg' %}" />
                            </div>
                            <div class="tn-title">
                                <a href="{%url 'newsapp:get_article_by_id' article.id%}">{{article.article_name|truncatewords:3}}</a>
                            </div>
                        </div>
                        {%endif%}
                        {%endfor%}
                        {%endif%}
                    </div>
                </div>
            </div>
            
            <div class="col-md-6">
                <ul class="nav nav-pills nav-justified">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="pill" href="#m-read">Most Read</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="pill" href="#m-recent">Most Recent</a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div id="m-read" class="container tab-pane active">
                        {%if popular_articles%}
                        {%for article in popular_articles%}
                        {% if forloop.counter < 4 %}
                        <div class="tn-news">
                            <div class="tn-img">
                                <img src="{% static 'newsapp/img/popular_news.png' %}" />
                            </div>
                            <div class="tn-title">
                                <a href="{%url 'newsapp:get_article_by_id' article.id%}">{{article.article_name|truncatewords:3}}</a>
                            </div>
                        </div>
                        {%endif%}
                        {%endfor%}
                        {%endif%}
                    </div>
                    <div id="m-recent" class="container tab-pane fade">
                        {%if latest_articles%}
                        {%for article in latest_articles%}
                        {% if forloop.counter < 4 %}
                        <div class="tn-news">
                            <div class="tn-img">
                                <img src="{% static 'newsapp/img/latest_news.jpg' %}" />
                            </div>
                            <div class="tn-title">
                                <a href="{%url 'newsapp:get_article_by_id' article.id%}">{{article.article_name|truncatewords:3}}</a>
                            </div>
                        </div>
                        {%endif%}
                        {%endfor%}
                        {%endif%}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Tab News Start-->

<!-- Main News Start-->
<div class="main-news">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <div class="row">
                    {%if latest_articles%}
                    {%for article in latest_articles%}
                    {% if forloop.counter < 10 %}
                    <div class="col-md-4">
                        <div class="mn-img">
                            <img src="{% static 'newsapp/img/news-main-page.jpg' %}" />
                            <div class="mn-title">
                                <a href="{%url 'newsapp:get_article_by_id' article.id%}">{{article.article_name|truncatewords:3}}</a>
                            </div>
                        </div>
                    </div>
                    {%endif%}
                    {%endfor%}
                    {%endif%}
                </div>
            </div>

            <div class="col-lg-3">
                <div class="mn-list">
                    <h2>Read More</h2>
                    <ul>
                    {%if latest_articles%}
                    {%for article in latest_articles%}
                    {% if forloop.counter < 11 %}
                        <li><a href="{%url 'newsapp:get_article_by_id' article.id%}">{{article.article_name|truncatewords:3}}</a></li>
                    {%endif%}
                    {%endfor%}
                    {%endif%}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Main News End-->
{% endblock %}
