{% extends "newsapp/layout.html" %}
{% block page_title %}
  {{ user.username }}
{% endblock %}
{%load static%}

{% block main_content %}
<!-- Breadcrumb Start -->
<div class="breadcrumb-wrap">
  <div class="container">
      <ul class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'newsapp:index' %}">Home</a></li>
          <li class="breadcrumb-item active">{{user.username|title}}</li>
      </ul>
  </div>
</div>
<!-- Breadcrumb End -->

<!-- Single News Start-->
<div class="single-news">
  <div class="container">
      <div class="row">
          <div class="col-lg-8">
            {% if user %}
              <div class="sn-container">
                  <div class="sn-content">
                      <h1 class="sn-title"> {{user.username|title}} </h1>
                      <p>Name: {{user.username|title}}</p>
<p>Email: {{user.email}}</p>
<p>User Image: <img src="{{user.user_avatar.url}}" alt="" width="200" height="200"></p>
<p>Dob: {{user.last_login}}</p>
<p>User IMG URL: {{user.user_avatar.url}}</p>
<p><a href="{% url 'newsapp:profile_change' %}">Change User Info</a></p>
                      
                      
                  </div>
              </div>
              {% else %}
              <p>No such user </p>
              {%endif%}
          </div>

      </div>
  </div>
</div>
<!-- Single News End-->
{% endblock %}

